<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="RutaConexion" value="Data Source=SERVER;Initial Catalog=DATABASE;User ID=USER;Password=PASSWORD" />
  <add key="JwtSecret" value="REPLACE_WITH_A_RANDOM_SECRET_OF_AT_LEAST_32_CHARS" />
</appSettings>
